*{
  margin: 0;
  text-decoration: none;
  font-family: Noto Sans;
  transition: all 0.25s;
}

body{
  display: grid;
  grid-template-columns: 1fr;
}


/*-----------------------------------------------*/
#test_infor{
  width: 100%;
  height: 42rem;
  background-image:url(home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#nav_bar{
  display: flex;
  justify-content: space-between;
  margin-top:2rem;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100000;
}
#icon{
  color:white;
  text-align: center;
}
#subject{
  color:white;
  font-size:13.5px;
  transition: all 0.25s;
}
#subject:hover{
  color:#D47323;
}
#sign_in{
  color:white;
}
#sign_in:hover{
  cursor: pointer;
  color:#D47323;
}
#free_test{
  color:rgb(255, 255, 255);
  border-radius: 3rem;
  border: white 2px solid;
  padding:10px 10px;
  background-color: transparent;
}
#free_test:hover{
  cursor: pointer;
  background-color: #77C839;
  border: none;
}

/*-----------------------------------------------*/
#school_name{
  width: 100%;
  height: fit-content;
  position: relative;
}
#socson{
  width: 100%;
}
#slogan{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 38px;
  font-weight: bold;
}

/*-----------------------------------------------*/
#test_section{
  width: 100%;
  height: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom:3rem;
}
#test_collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 15%;
  margin-top:2%;
}
.card{
  width: 10rem;
  height: 15rem;
  border: black 0.5px solid;
  border-radius: 20px;
  vertical-align: bottom;
  transition: all 0.25s;
}
.card:hover{
  cursor: pointer;
}
#card1:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-right:5px;
  margin-bottom:5px;
}
#card2:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-right:5px;
  margin-bottom:5px;
}
#card3:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-right:5px;
  margin-bottom:5px;
}
#card4:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin-right:5px;
  margin-bottom:5px;
}
#symbol{
  width: 5rem;
  margin-top:1rem;
}
#name{
  color:gray;
  font-size: 23.5px;
  font-weight: bold;
}
#aim{
  font-size: 20.3px;
  font-weight: bold;
}
/*-----------------------------------------------*/
#advisor{
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(90deg,#121212,#383838);
  text-align: center;
  line-height: 3rem;
}
.ads{
  font-family: Noto Sans;
  color:white;
  font-weight: bold;
}
#offer{
  font-size: 23.5px;
  font-weight: bold;
}
#ques{
  font-size: 17.1px;
}
#reg_now{
  background-color: #77C839;
  border: none;
  border-radius: 10px;
  padding:1rem 3rem;
  font-size: 25.6px;
  font-weight: bold;
}
#reg_now:hover{
  cursor: pointer;
}
/*-----------------------------------------------*/
#contact{
  width: 100%;
  height: 20rem;
  background-color: lightblue;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: white;
}
.ll{
  margin-top: 5rem;
  font-size: 21px;
}
.ll:hover{
  border-bottom: #121212 1px solid;
}

/*-----------------------------------------------*/
#copyright{
  width: 100%;
  height: 6rem;
  background-image:url(copyright.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:856px){
  #subject,#globe{
    opacity: 0;
    pointer-events: none;
  }
  #sign_in{
    margin-right:2rem;
  }
}